/* Aboutme.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 3px solid #ffc107;
  animation: slideInDown 0.8s ease;
}

.paragraph {
  font-size: 1.2rem;
  text-align: justify;
  margin: 20px 0;
  animation: slideInUp 0.8s ease;
  text-transform: capitalize;
  word-spacing: 5px;
  background-color: rgb(243, 248, 248);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  animation: slideInUp 0.8s ease;
}

.listItem {
  font-size: 1.2rem;
  text-align: justify;
  margin: 10px 0;
  animation: slideInUp 0.8s ease;
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}